<!DOCTYPE html>
<html>
	<head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N5NV973');</script>
        <!-- End Google Tag Manager -->

		<title>{{ title }}</title>
		<!-- Las variables site estan contenidas en el archivo class/twig/twig-globals.php -->

		<meta name="description" content="{{ site.description }}">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:url"           content="{{ base_site_url() }}" />
		<meta property="og:type"          content="{{ site.description }}" />
		<meta property="og:title"         content="{{ title }}" />
		<meta property="og:description"   content="{{ site.description }}" />
		<meta property="og:image"         content="{{ site.theme.link }}/assets/build/img/screenshot-2.png?v={{site.theme_version}}" />
		<link rel="author" href="{{ site.author }}" />
		{{wp_head()}}

		{% if not site.is_front_page %}
            <meta name="robots" content="noindex,follow" />
        {% endif %}

	</head>

	<body class="{{ body_class }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5NV973"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->