<section class="section-figures">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title text-center" data-aos="fade-up" >
                    <h2>{{ acf.title }}</h2>
                </div>
                <div class="content-figures">
                    {% for element in acf.items %}
                        <div class="item" data-aos="fade-up" >
                            <div class="imagen">
                                <img src="{{ element.image }}" alt="{{ element.text }}">
                            </div>
                            <div class="text">
                                <p>{{ element.text }}</p>
                                <h3>{{ element.value }}</h3>
                            </div>
                            <span class="icon icon-arrow-large-up"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-7 text-center m-auto" data-aos="fade-up" >
                <h3 class="text-center">{{ acf.other_text }}</h3>
                <a class="btn btn-primary me-4" href="{{ acf.button_link }}" target="_blank">
                    <div class="icon">
                        <span>{{ acf.button_text }}</span>
                        <i class="icon-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>