<section class="superhuman-test-hero">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <h1>{{acf.hero_title}}</h1>
                <h2>{{acf.hero_subtitle}}<sup>®</sup></h2>
                <img class="featured-product" src="{{acf.hero_featured_image}}" alt="Superhuman Test">
                <h5>{{acf.choose_packages}}</h5>
                <a href="#prices"><img class="arrow-down" src="{{acf.arrow_down_image}}" alt="Scroll down"></a>
            </div>
        </div>
    </section>