<section class="choose-package" id="prices">
        <div class="container">
            <div class="row packages" data-aos="fade-up">
                <div class="col-md-4 first-package">
                    <div class="ribbon"></div>
                    <h2>{{acf.bottle_1.bottle_quantity}}</h2>
                    <div class="package-info">
                        <p>Regular Price: <span class="regular-price">${{acf.bottle_1.regular_price}}</span></p>
                    <div class="row">
                        <div class="col-md-7">
                            <h3>${{acf.bottle_1.offer_price}}</h3>
                        </div>
                        <div class="col-md-5 qty">
                            <span>per <br>bottle</span>
                        </div>
                    </div>
                    <h4>You Save - ${{acf.bottle_1.you_save}}</h4>
                    <p class="shipping">{{acf.bottle_1.shipping}}</p>
                    <a href="{{acf.bottle_1.product_add_to_cart_link}}">Buy Now</a>
                    </div>
                </div>
                <div class="col-md-4 second-package">
                    <h2>{{acf.bottle_2.bottle_quantity}}</h2>
                    <div class="package-info">
                        <p>Regular Price: <span class="regular-price">${{acf.bottle_2.regular_price}}</span></p>
                    <div class="row">
                        <div class="col-md-7">
                            <h3>${{acf.bottle_2.offer_price}}</h3>
                        </div>
                        <div class="col-md-5 qty">
                            <span>per <br>bottle</span>
                        </div>
                    </div>
                    <h4>You Save - ${{acf.bottle_2.you_save}} </h4>
                    <p class="shipping">{{acf.bottle_2.shipping}}</p>
                    <a href="{{acf.bottle_2.product_add_to_cart_link}}">Buy Now</a>
                    </div>
                </div>
                <div class="col-md-4 third-package">
                    <h2>{{acf.bottle_3.bottle_quantity}}</h2>
                    <div class="package-info">
                        <p>Regular Price: <span class="regular-price">${{acf.bottle_3.regular_price}}</span></p>
                    <div class="row">
                        <div class="col-md-7">
                            <h3>${{acf.bottle_3.offer_price}}</h3>
                        </div>
                        <div class="col-md-5 qty">
                            <span>per <br>bottle</span>
                        </div>
                    </div>
                    <h4>You Save - ${{acf.bottle_3.you_save}} </h4>
                    <p class="shipping">{{acf.bottle_3.shipping}}</p>
                    <a href="{{acf.bottle_3.product_add_to_cart_link}}">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>